---
name: Build Documentation

# We don't want pushes (or PRs) to gh-pages to kick anything off
on:
  push:
    branches: [master]
    paths:
      - tests/**
      - hydromt_uwbm/**
      - docs/**
      - .github/workflows/docs.yml
  pull_request:
    branches: [master]
    paths:
      - tests/**
      - hydromt_uwbm/**
      - docs/**
      - .github/workflows/docs.yml

jobs:
  docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: astral-sh/setup-uv@v7
      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Install hydromt_uwbm and dependencies
        run: uv sync --all-extras

      - name: Check Quarto installation and all engines
        run: uv run quarto check all

      - name: Generate API pages
        run: |
          uv run --directory docs quartodoc build

      - name: Render Quarto Project
        run: uv run --directory docs quarto render --to html --execute

      - name: Publish Quarto Project
        if: github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: docs
          render: false
          target: gh-pages
        env:
          GITHUB_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
