---
name: Tests

on:
  push:
    branches: [master]
    paths:
      - hydromt_uwbm/**
      - .github/workflows/tests.yml
      - tests/**
  pull_request:
    branches: [master]
    paths:
      - hydromt_uwbm/*
      - .github/workflows/tests.yml
      - tests/*
jobs:
  Test-matrix:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.11', '3.12', '3.13']
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run tests
        run: uv run pytest --verbose --cov=hydromt_uwbm --cov-report xml --cov-branch
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Deltares-research/hydromt_uwbm
          files: ./coverage.xml
          flags: unittests
          fail_ci_if_error: true
          disable_search: true
